#head-section{
     background-color: var(--wt-color-dark);
     color: #fff;
}
#blog-post{
background:radial-gradient(26.76% 85.52% at 86.73% -12.86%,#c241ff 6.65%,#6b57ff 100%);
}
#customers-block{
background-color: #fff;
}
#discover-more{
     background:radial-gradient(26.76% 85.52% at 86.73% -12.86%,#c241ff 6.65%,#6b57ff 100%);
}
