.item {
  width: 25%;
  .header {
    .wrap {
      padding-bottom: 5px;
      align-items: center;
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc;

      .icon {
        margin-right: 5px;
        svg {
          width: 19px;
          height: 19px;
          fill: #fff;
        }
      }
    }
  }
}
